.metadata
language.settings.xml
wolfpkcs11/config.h.in
autom4te.cache
build-aux
aclocal.m4
libtool.m4
lt*.m4
configure
Makefile.in
aminclude.am
config.*
libtool
Makefile
wolftpm-config
.dirstamp
*.la
*.lo
stamp-h1
test-suite.log
src/.deps
src/.libs
RemoteSystemsTempFiles
*.o
*.deps
*.libs
wolfpkcs11/options.h
wolfpkcs11-config
*.log
*.trs
coverage
coverage.info
tests/pkcs11test
tests/pkcs11mtt
tests/pkcs11str
test/*
*.gcda
*.gcno

tests/wp11_rsakey_*
tests/wp11_dhkey_*
tests/wp11_ecckey_*
tests/wp11_symmkey_*
tests/wp11_token_*
tests/wp11_obj_*

IDE/VisualStudio/.vs
