# STM32H7S / STM32H7R (NUCLEO-H7S3L8)
#
# Pass the probe serial when more than one ST-LINK is attached, otherwise
# OpenOCD picks the first one it finds:
#   openocd -c "adapter serial <SN>" -f config/openocd/openocd_stm32h7s.cfg
source [find interface/stlink.cfg]
source [find target/stm32h7rsx.cfg]
init
reset
halt
