ARCH?=ARM
TARGET?=psoc6
SIGN?=ED25519
HASH?=SHA256
CYPRESS_PDL?=$(WOLFBOOT_ROOT)/lib/psoc6pdl
CYPRESS_TARGET_LIB?=$(WOLFBOOT_ROOT)/lib/TARGET_CY8CKIT-062S2-43012
CYPRESS_CORE_LIB?=$(WOLFBOOT_ROOT)/lib/core-lib
DEBUG?=1
VTOR?=1
CORTEX_M0?=1
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
NO_XIP?=0
UART_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=1
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
IMAGE_HEADER_SIZE?=256
PKA?=0
WOLFTPM?=0
WOLFBOOT_PARTITION_SIZE?=0x80000
WOLFBOOT_SECTOR_SIZE?=512
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x10080000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x10100000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=10010000
