ARCH?=RISCV
TARGET?=gd32vf103
SIGN?=ED25519
HASH?=SHA384
DEBUG?=1
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=1
WOLFBOOT_VERSION?=1
IMAGE_HEADER_SIZE=512
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
WOLFBOOT_PARTITION_SIZE?=0xb800
WOLFBOOT_SECTOR_SIZE?=0x400
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x08007000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x08013800
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x0801F000
