ARCH?=ARM
TARGET?=kinetis_kl26
SIGN?=ECC256
HASH?=SHA256
MCUXSDK?=0
MCUXPRESSO?=$(PWD)/../NXP/SDK_2_2_0_FRDM-KL26Z
MCUXPRESSO_CMSIS?=$(MCUXPRESSO)/CMSIS
MCUXPRESSO_CPU?=MKL26Z128VLH4
MCUXPRESSO_DRIVERS?=$(MCUXPRESSO)/devices/MKL26Z4
DEBUG?=0
VTOR?=1
CORTEX_M0?=1
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=1
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
PKA?=0
DEBUG_UART?=1

# Cortex-M0+ doesn't support unaligned word accesses. WOLFSSL_USE_ALIGN
# routes word-sized hash operations through byte-safe code paths when the
# input/output buffers aren't 4-byte aligned.
CFLAGS_EXTRA+=-DWOLFSSL_USE_ALIGN

# 1KB sectors, 4-byte flash write unit
WOLFBOOT_SECTOR_SIZE?=0x400

# 128KB flash, 16KB SRAM
# 24KB bootloader, 48KB boot/update partitions, 1KB swap at last sector
WOLFBOOT_PARTITION_SIZE?=0xC000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x6000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x12000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x1FC00
