ARCH=x86_64
TARGET=kontron_vx3060_s2
WOLFBOOT_SMALL_STACK=0
SIGN=ECC256
HASH=SHA256
DEBUG=1
SPMATH=1
ENCRYPTION=0
WOLFBOOT_NO_PARTITIONS=1
FORCE_32BIT=1

# 4gb - 12mb (BIOS Region size)
WOLFBOOT_PARTITION_BOOT_ADDRESS=0xff400000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0x0
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x0

# 128mb
WOLFBOOT_LOAD_BASE=0x8000000
WOLFBOOT_LOAD_ADDRESS=0x1000000

# required for keytools
WOLFBOOT_SECTOR_SIZE?=0x1000
WOLFBOOT_DATA_ADDRESS=0x1000000


FSP_S_BASE=0xffea0000
FSP_S_UPD_DATA_BASE=0xffd00000
FSP_T_BASE=0xfff59000
FSP_M_BASE=0xfff60000

WOLFBOOT_ORIGIN=0xfff00000
# 4 MB
BOOTLOADER_PARTITION_SIZE=0x600000
# 12 MB
BIOS_REGION_SIZE=0xc00000

UCODE0_BASE=0xffd90000
UCODE0_BIN=src/x86/ucode0.bin

FSP_T_BIN=./src/x86/fsp_t.bin
FSP_M_BIN=./src/x86/fsp_m.bin
FSP_S_BIN=./src/x86/fsp_s.bin
FSP_S_UPD_DATA_BIN=./src/x86/fsp_s_upd_data.bin

X86_UART_BASE=0xFE032000
X86_UART_REG_WIDTH=4
X86_UART_MMIO=1

PCH_PCR_BASE=0xFD000000
PCI_ECAM_BASE=0xC0000000

PCI_USE_ECAM=1
PCH_HAS_PCR=1

64BIT=1
ELF=1
DEBUG_ELF=0
MULTIBOOT2=1

FSP_S_LOAD_BASE=0x0FED5F00
STAGE1_AUTH=1
# MEASURED_BOOT=1
# MEASURED_PCR_A=0
# DISK_LOCK=1
# WOLFTPM=1
# WOLFBOOT_TPM_SEAL=1
