ARCH=
NO_LOADER=1
USE_GCC_HEADLESS=0
# ends up double including this to work around defaulting to update_flash
UPDATE_OBJS:=hal/library.o
TARGET=library
WOLFBOOT_SMALL_STACK=1
SIGN?=ED25519
HASH?=SHA256
IMAGE_HEADER_SIZE?=256
DEBUG=0
SPMATH=0
WOLFBOOT_NO_PARTITIONS=1

# Required to build keytools
WOLFBOOT_SECTOR_SIZE=0x1000
