ARCH=sim
TARGET=library_fs

SIGN?=ED25519
HASH?=SHA256
IMAGE_HEADER_SIZE?=256
DEBUG=0
SPMATH?=0
SPMATHALL?=0

# Flash Partition Filename
WOLFBOOT_PARTITION_FILENAME=\"internal_flash.dd\"
EXT_FLASH=1

# Flash Sector Size
WOLFBOOT_SECTOR_SIZE=0x1000
# Application Partition Size
WOLFBOOT_PARTITION_SIZE=0x40000
# Location in flash for boot partition
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x80000
# Location in flash for update partition
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x100000
# Location in flash for swap
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x180000
