ARCH?=ARM
TARGET?=lpc
SIGN?=ECC256
MCUXPRESSO?=$(HOME)/src/LPC54606J512
MCUXPRESSO_CPU?=LPC54606J512BD208
MCUXPRESSO_DRIVERS?=$(MCUXPRESSO)/devices/LPC54606
MCUXPRESSO_CMSIS?=$(HOME)/src/LPC54606J512/CMSIS
DEBUG?=0
HASH?=SHA256
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
IMAGE_HEADER_SIZE?=256
PKA?=1
WOLFBOOT_PARTITION_SIZE?=0x38000
WOLFBOOT_SECTOR_SIZE?=0x8000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x8000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x40000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x78000
