ARCH?=ARM
TARGET?=max32666
SIGN?=ECC256
HASH?=SHA256
VTOR?=1
NO_ASM?=0
SPMATH?=1
RAM_CODE?=1
NVM_FLASH_WRITEONCE?=1
NO_MPU?=1
DEBUG_UART?=1
WOLFBOOT_SECTOR_SIZE?=0x2000
WOLFBOOT_PARTITION_SIZE?=0x40000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x10008000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x10048000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x10088000
