ARCH?=ARM
TZEN?=0
TARGET?=nrf54l
SIGN?=ECC384
HASH?=SHA384
WOLFBOOT_VERSION?=1
VTOR?=1
CORTEX_M0?=0
CORTEX_M33?=1
NO_ASM?=0
NO_MPU=1
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
DELTA_UPDATES?=1

SPMATH?=1
RAM_CODE?=1

DUALBANK_SWAP?=0
FLAGS_HOME=0
DISABLE_BACKUP=0
EXT_FLASH?=0
SPI_FLASH?=0
QSPI_FLASH?=0
UART_FLASH?=0

# 4096 sector size (the RRAM doesn't have an intrinsic page size)
WOLFBOOT_SECTOR_SIZE?=0x1000

# Reserve the first 64KB of internal flash for wolfBoot itself
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x10000

# Application partition spans the remainder of the 1524K internal flash
# (1524K - 64K - 4K) / 2 = 728K = 0xB6000
WOLFBOOT_PARTITION_SIZE?=0xB6000

# Flash offset for application update image
# (64K + 728K) = 792K = 0xC6000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0xC6000

# Flash offset for swap area
# (1524K - 4K) = 1520K = 0x17C000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x17C000

V?=0
DEBUG?=0
DEBUG_UART?=1
USE_GCC=1
OPTIMIZATION_LEVEL=2

# Use larger block size for swapping sectors (performance improvement)
CFLAGS_EXTRA+=-DFLASHBUFFER_SIZE=0x1000

# SPI flash hookup for the DK radio shield
#CFLAGS_EXTRA+=-DSPI_CS_PORT=0  -DSPI_CS_PIN=25
#CFLAGS_EXTRA+=-DSPI_SCK_PORT=0 -DSPI_SCK_PIN=29
#CFLAGS_EXTRA+=-DSPI_MOSI_PORT=0 -DSPI_MOSI_PIN=28
#CFLAGS_EXTRA+=-DSPI_MISO_PORT=0 -DSPI_MISO_PIN=27

#CFLAGS_EXTRA+=-DDEBUG_FLASH
