ARCH?=ARM
TZEN?=1
TARGET?=nrf54l
SIGN?=ECC384
HASH?=SHA384
WOLFBOOT_VERSION?=1
VTOR?=1
CORTEX_M0?=0
CORTEX_M33?=1
NO_ASM?=0
NO_MPU=1
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
DELTA_UPDATES?=1

SPMATH?=1
RAM_CODE?=1

DUALBANK_SWAP?=0
FLAGS_HOME=0
DISABLE_BACKUP=0
EXT_FLASH?=0
SPI_FLASH?=0
QSPI_FLASH?=0
UART_FLASH?=0

WOLFCRYPT_TZ?=1
WOLFCRYPT_TZ_PKCS11?=1

# 4096 sector size (the RRAM doesn't have an intrinsic page size)
WOLFBOOT_SECTOR_SIZE?=0x1000

# Flash layout
#
#   0x00000000 - 0x0004EFFF  wolfBoot (316 KB)         secure
#   0x0004F000 - 0x00064FFF  Keyvault (88 KB)          secure
#   0x00065000 - 0x00065FFF  NSC region (4 KB)         non-secure callable
#   0x00066000 - 0x000F0FFF  Boot partition (556 KB)   non-secure
#   0x000F1000 - 0x0017BFFF  Update partition (556 KB) secure
#   0x0017C000 - 0x0017CFFF  Swap area (4 KB)          secure
#
# The update partition is meant to be written to via wolfBoot's NSC veneers

WOLFBOOT_KEYVAULT_ADDRESS?=0x4F000
WOLFBOOT_KEYVAULT_SIZE?=0x16000

WOLFBOOT_NSC_ADDRESS?=0x65000
WOLFBOOT_NSC_SIZE?=0x1000

WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x66000
WOLFBOOT_PARTITION_SIZE?=0x8B000

WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0xF1000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x17C000

V?=0
DEBUG?=0
DEBUG_UART?=1
USE_GCC=1
OPTIMIZATION_LEVEL=2

# Use larger block size for swapping sectors (performance improvement)
CFLAGS_EXTRA+=-DFLASHBUFFER_SIZE=0x1000

#CFLAGS_EXTRA+=-DDEBUG_FLASH
