ARCH?=ARM
TZEN?=0
TARGET?=nrf54lm20
SIGN?=ECC384
HASH?=SHA384
WOLFBOOT_VERSION?=1
VTOR?=1
CORTEX_M0?=0
CORTEX_M33?=1
NO_ASM?=0
NO_MPU=1
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
DELTA_UPDATES?=1
SUPPORT_DEV_BOARD?=1

SPMATH?=1
RAM_CODE?=1

DUALBANK_SWAP?=0
FLAGS_HOME=0
DISABLE_BACKUP=0
EXT_FLASH?=0
SPI_FLASH?=0
QSPI_FLASH?=0
UART_FLASH?=0

# Flash is 4KB pages
WOLFBOOT_SECTOR_SIZE?=0x1000

# Reserve the first 64KB of internal flash for wolfBoot itself
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x10000

# Application partition spans the remainder of the 2MB internal flash
# (2048K - 64K - 4K) / 2 = 990K = 0xF7800
WOLFBOOT_PARTITION_SIZE?=0xF7800

# Flash offset for application update image
# (64K + 990K) = 1054K = 0x107800
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x107800

# Flash offset for swap area
# (2048K - 4K) = 2044K = 0x1FF000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x1FF000

V?=0
DEBUG?=0
DEBUG_UART?=1
USE_GCC=1
OPTIMIZATION_LEVEL=2

# Use larger block size for swapping sectors (performance improvement)
CFLAGS_EXTRA+=-DFLASHBUFFER_SIZE=0x1000

# Map debug UART to DK connector (override as needed)
#CFLAGS_EXTRA+=-DUART_PORT=0 -DUART_PIN=20

# SPI flash hookup for the DK radio shield
#CFLAGS_EXTRA+=-DSPI_CS_PORT=0  -DSPI_CS_PIN=25
#CFLAGS_EXTRA+=-DSPI_SCK_PORT=0 -DSPI_SCK_PIN=29
#CFLAGS_EXTRA+=-DSPI_MOSI_PORT=0 -DSPI_MOSI_PIN=28
#CFLAGS_EXTRA+=-DSPI_MISO_PORT=0 -DSPI_MISO_PIN=27

#CFLAGS_EXTRA+=-DDEBUG_FLASH
