ARCH?=ARM
TZEN?=0
TARGET?=nrf5340_net
SIGN?=ECC384
HASH?=SHA384
WOLFBOOT_VERSION?=1
VTOR?=1
CORTEX_M0?=0
CORTEX_M33?=1
NO_ASM?=1
NO_MPU=1
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
DELTA_UPDATES?=1

SPMATH?=1
RAM_CODE?=1

DUALBANK_SWAP?=0
FLAGS_HOME=0
DISABLE_BACKUP=0
# Implementation maps to shared application core memory
EXT_FLASH?=1
SPI_FLASH?=0
QSPI_FLASH?=0

# Flash base for network core
ARCH_FLASH_OFFSET=0x01000000

# Flash is 2KB pages
WOLFBOOT_SECTOR_SIZE?=0x800

# Application offset (reserve 48KB for wolfBoot)
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x0100C000

# Application Partition Size (184KB)
WOLFBOOT_PARTITION_SIZE?=0x2E000

# Flash offset for update (provided by application core to shared memory)
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x100000

# Flash offset for swap (uses shared memory)
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x12E000

# Network core uses partition ID 2
WOLFBOOT_PART_ID=2

V?=0
DEBUG?=0
DEBUG_UART?=1
USE_GCC=1
OPTIMIZATION_LEVEL=2

#CFLAGS_EXTRA+=-DDEBUG_FLASH

# Hard fault debugging
#CFLAGS_EXTRA+=-DDEBUG_HARDFAULT
