# NXP T2080 wolfBoot Configuration Template

ARCH=PPC
TARGET=nxp_t2080
SIGN?=ECC384
HASH?=SHA384
IMAGE_HEADER_SIZE?=512
DEBUG?=0
DEBUG_SYMBOLS?=1
DEBUG_UART?=1
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
NO_XIP?=0
UART_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
NO_MPU?=0
SPMATH?=1
SPMATHALL?=0
RAM_CODE?=1
DUALBANK_SWAP?=0
WOLFTPM?=0
OPTIMIZATION_LEVEL?=1

# NOR Base Address
ARCH_FLASH_OFFSET?=0xEFFE0000

# Flash Sector Size
WOLFBOOT_SECTOR_SIZE?=0x10000

# wolfBoot start address
WOLFBOOT_ORIGIN?=0xEFFE0000
# wolfBoot partition size (custom)
BOOTLOADER_PARTITION_SIZE=0x20000

# Application Partition Size
WOLFBOOT_PARTITION_SIZE?=0x20000
# Location in Flash for Application Partition
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0xEFFC0000
# Load Partition to RAM Address
WOLFBOOT_LOAD_ADDRESS?=0x19000

# Location in Flash for Update Partition
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0xEFFA0000

# Location of temporary sector used during updates
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0xEFF90000

# DTS (Device Tree)
WOLFBOOT_DTS_BOOT_ADDRESS?=0xE8040000
WOLFBOOT_DTS_UPDATE_ADDRESS?=0xE8050000
# DTS Load to RAM Address
WOLFBOOT_LOAD_DTS_ADDRESS?=0x200000

# Optional QSPI flash test (erase/write/read on update partition)
#CFLAGS_EXTRA+=-DTEST_FLASH
