ARCH=PPC
TARGET=nxp_p1021
SIGN?=ECC384
HASH?=SHA384
IMAGE_HEADER_SIZE?=512
DEBUG?=0
DEBUG_UART?=1
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=1
SPI_FLASH?=0
NO_XIP?=0
UART_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
NO_MPU?=0
SPMATH?=1
RAM_CODE?=1
DUALBANK_SWAP?=0
WOLFTPM?=0

# NAND Base Address
ARCH_FLASH_OFFSET?=0xEC000000

# Flash Sector Size
WOLFBOOT_SECTOR_SIZE=0x4000

# wolfBoot start address
WOLFBOOT_ORIGIN=0xEC000000
# wolfBoot partition size (2MB)
BOOTLOADER_PARTITION_SIZE=0x200000

# Application Partition Size (16MB)
WOLFBOOT_PARTITION_SIZE?=0x1000000

# Location in Flash for Application Partition
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0xEC200000
# Load Partition to RAM Address
WOLFBOOT_LOAD_ADDRESS?=0x1E000000

# Location in Flash for Update Partition
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0xED200000

# Location of temporary sector used during updates (end of boot partition)
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0xEC1FC000
