ARCH=AARCH64
TARGET=nxp_ls1028a
SIGN?=ECC384
HASH?=SHA384
DEBUG?=0
DEBUG_UART?=1
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
NO_XIP?=0
UART_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
V?=0
NO_MPU?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
PKA?=0
WOLFTPM?=0

# NOR Base Address
ARCH_FLASH_OFFSET?=0x20000000

# Flash Sector Size (128 KB)
WOLFBOOT_SECTOR_SIZE=0x20000

# wolfBoot start address
WOLFBOOT_ORIGIN=0x100000

# wolfBoot partition size (128K)
BOOTLOADER_PARTITION_SIZE=0x20000

# Application Partition size (16MB)
WOLFBOOT_PARTITION_SIZE?=0x200000

# Location in Flash for Application Partition
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x1000000

# Load Partition to RAM Address
WOLFBOOT_LOAD_ADDRESS?=0x80000000

# Location in Flash for Update Partition
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x3000000

# Location of temporary sector used during updates
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x60000

# DTS (Device Tree)
WOLFBOOT_LOAD_DTS_ADDRESS?=0x80200000
WOLFBOOT_DTS_BOOT_ADDRESS?=0xF00000
WOLFBOOT_DTS_UPDATE_ADDRESS?=0x2F00000
