ARCH=ARM
TARGET=pic32cz
SIGN?=ECC256
HASH?=SHA256
VTOR?=1
SPMATH?=1
NO_MPU=1
DEBUG_UART=1

WOLFHSM_CLIENT=1

# Must match the client ID the server provisions keys under.
WOLFHSM_CLIENT_ID=12

WOLFHSM_NVM_IMAGE=0

# MUST equal the czhsm-server build's WOLFHSM_CFG_COMM_DATA_LEN
WOLFHSM_CFG_COMM_DATA_LEN=1280

BOOTLOADER_PARTITION_SIZE=0x10000

HSM_FW_ADDR=0x0c1c0000

WOLFBOOT_SECTOR_SIZE=0x1000
WOLFBOOT_PARTITION_SIZE=0x100000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0x0c000000
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x0c200000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0x0c1ff000

DUALBANK_SWAP=1
