ARCH?=AARCH64
TARGET?=raspi3
SIGN?=RSA4096
HASH?=SHA3
DEBUG?=1
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
IMAGE_HEADER_SIZE?=1024
PKA?=1
WOLFTPM?=0
WOLFBOOT_NO_PARTITIONS=1
WOLFBOOT_PARTITION_SIZE=0
WOLFBOOT_SECTOR_SIZE=0
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0
WOLFBOOT_LOAD_ADDRESS?=0x140000
WOLFBOOT_LOAD_DTS_ADDRESS?=0xa0000
WOLFBOOT_DTS_BOOT_ADDRESS?=0xa0000
