ARCH?=AARCH64
TARGET?=raspi3
SIGN?=RSA4096
HASH?=SHA3
DEBUG?=1
VTOR?=1
SPMATH?=1
IMAGE_HEADER_SIZE?=1024
PKA?=0
WOLFTPM?=0

WOLFBOOT_NO_PARTITIONS=1
WOLFBOOT_PARTITION_BOOT_ADDRESS=0x140000
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x1140000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0xFFFFFFFF
WOLFBOOT_PARTITION_SIZE=0x1000000
WOLFBOOT_SECTOR_SIZE=0x400
EXT_FLASH=0
ENCRYPT=1
NO_XIP=1
ENCRYPT_WITH_AES256=1
WOLFBOOT_LOAD_ADDRESS?=0x3080000
WOLFBOOT_LOAD_DTS_ADDRESS?=0x400000
