ARCH?=RENESAS_RX
TARGET?=rx72n
SIGN?=ECC256
HASH?=SHA256
DEBUG?=0
DEBUG_UART?=1
VTOR?=1
NO_ASM?=0
NO_MPU=1
EXT_FLASH?=0
SPI_FLASH?=0
QSPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
SPMATH?=1
RAM_CODE?=1
DUALBANK_SWAP?=0

# reserve 1KB for wolfBoot header
# Requires building keytools with "make IMAGE_HEADER_SIZE=1024"
#IMAGE_HEADER_SIZE=1024

# Optionally switch to big endian data if MDE is set
#BIG_ENDIAN=1

# Flash is 4MB with 32KB sector size
WOLFBOOT_SECTOR_SIZE?=0x8000

# wolfBoot is last sector of flash and includes vector tables
WOLFBOOT_ORIGIN=0xFFFF0000

# wolfBoot partition size (64KB)
BOOTLOADER_PARTITION_SIZE=0x10000
# Application Partition Size (1984KB)
WOLFBOOT_PARTITION_SIZE?=0x1F0000

# Location in Flash for Application Partition
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0xFFC00000
# Location in Flash for Update Partition
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0xFFDF0000

# Location of temporary sector used during updates
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0xFFFE0000

# TSIP
PKA?=0

# Use optimization level 2 (default is -Os, which causes issues)
#OPTIMIZATION_LEVEL=2

# Include debug symbols (even for release build)
#DEBUG_SYMBOLS=1

# Location of reset entry point from start of flash
#CFLAGS_EXTRA+=-DBOOT_ENTRY_OFFSET=0x2C
