ARCH?=ARM
TZEN?=0
TARGET?=rp2350
SIGN?=ECC256
HASH?=SHA256
DEBUG?=0
VTOR?=1
CORTEX_M33?=1
NO_ASM?=0
NO_MPU=1
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
SPMATH?=1
RAM_CODE?=1
WOLFBOOT_PARTITION_SIZE?=0xC0000
WOLFBOOT_SECTOR_SIZE?=0x2000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0x10040000
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x10100000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0x101C0000

PICO_SDK_PATH=/home/dan/src/pico-sdk

# Use a larger image header size to enforce alignment requirements for the interrupt vector table
IMAGE_HEADER_SIZE?=1024
