ARCH=sim
TARGET=sim
SIGN?=ECC256
HASH?=SHA256
WOLFBOOT_SMALL_STACK=1
SPI_FLASH=0
SIM_TPM=1
DEBUG=1
# it should be multiple of system page size
WOLFBOOT_PARTITION_SIZE=0x2A000
WOLFBOOT_SECTOR_SIZE=0x1000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0x10000
# if on external flash, it should be multiple of system page size
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x3a000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0x64000
# required for keytools
WOLFBOOT_FIXED_PARTITIONS=1
# requires TPM simulator and presealing public key
WOLFBOOT_TPM_KEYSTORE?=1
WOLFBOOT_TPM_KEYSTORE_NV_INDEX?=0x01800200
WOLFBOOT_TPM_POLICY_NV_INDEX?=0x01800201
WOLFBOOT_TPM_PCR_INDEX?=16
