ARCH=sim
TARGET=sim
SIGN?=ED25519
HASH?=SHA256
WOLFBOOT_SMALL_STACK?=0
SPI_FLASH=0
EXT_FLASH=1
DEBUG=1
RAM_CODE=1
WOLFBOOT_VERSION=1

# Partition size increased to accommodate test-app with verify APIs
WOLFBOOT_PARTITION_SIZE=0x80000
WOLFBOOT_SECTOR_SIZE=0x1000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0x80000
# Update and swap on external flash (address 0x00000)
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x00000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0x80000

# Self-header feature (persist header in external flash)
WOLFBOOT_SELF_HEADER=1
SELF_HEADER_EXT=1
WOLFBOOT_PARTITION_SELF_HEADER_ADDRESS=0x90000

# Required for keytools
WOLFBOOT_FIXED_PARTITIONS=1
