# XMSS/XMSS^MT/HSS signature example, based on sim.config example.
#
# XMSS/XMSS^MT is a post-quantum, stateful, hash-based signature scheme.
#
# Use the helper script
#   tools/xmss/xmss_siglen.sh
# to calculate your signature length given an xmss parameter string.
#

ARCH=sim
TARGET=sim
SIGN?=XMSS
HASH?=SHA256
XMSS_PARAMS='XMSS-SHA2_10_256'
WOLFBOOT_SMALL_STACK=0
SPI_FLASH=0
DEBUG=0
DELTA_UPDATES=0
IMAGE_SIGNATURE_SIZE=2500
IMAGE_HEADER_SIZE?=5000

# sizes should be multiple of system page size
WOLFBOOT_PARTITION_SIZE=0x40000
WOLFBOOT_SECTOR_SIZE=0x1000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0x20000
# if on external flash, it should be multiple of system page size
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x60000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0xA0000

# required for keytools
WOLFBOOT_FIXED_PARTITIONS=1
