ARCH?=ARM
TARGET?=stm32h7
SIGN?=ECC256
HASH?=SHA256
DEBUG?=1
DEBUG_UART?=1
VTOR?=1
NO_ASM?=0
EXT_FLASH?=1
SPI_FLASH?=0
QSPI_FLASH?=1
OCTOSPI_FLASH?=1
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=1
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
WOLFBOOT_PARTITION_SIZE?=0xD0000
WOLFBOOT_SECTOR_SIZE?=0x20000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x8020000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x00000000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0xD0000
CFLAGS_EXTRA+=-DQSPI_ALT_CONFIGURATION
#CFLAGS_EXTRA+=-DUART_PORT=5
#CFLAGS_EXTRA+=-DTEST_FLASH
