ARCH?=ARM
TARGET?=stm32g4
SIGN?=ECC256
HASH?=SHA256
DEBUG?=0
VTOR?=1
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=1
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=1
DUALBANK_SWAP?=0

# Single-bank 512KB flash, 2KB pages.
# Layout: 32K boot, 232K app, 232K update, 16K swap.
WOLFBOOT_SECTOR_SIZE?=0x800
WOLFBOOT_PARTITION_SIZE?=0x3A000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x08008000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x08042000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x0807C000
