ARCH?=ARM
TARGET?=stm32c0
SIGN?=ED25519
#Using SHA384 with ED25519 saves about 2kB without SHA256 code
HASH?=SHA384
DEBUG?=0
VTOR?=1
CORTEX_M0?=1
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=1
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=1
DUALBANK_SWAP?=0
#Max APP size is 4kB
WOLFBOOT_PARTITION_SIZE?=0x2000
WOLFBOOT_SECTOR_SIZE?=0x800
#Max WOLFBOOT size is 14kB. Currently only 10kB
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x08003800
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x08005800
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x08007800

#For a debug/not size optimized layout:
#DEBUG?=1
#WOLFBOOT_PARTITION_SIZE?=0x1000
#WOLFBOOT_SECTOR_SIZE?=0x800
#WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x08005800
#WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x08006800
#WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x08007800

