ARCH?=ARM
TARGET?=stm32n6
TZEN?=1
SIGN?=ECC256
HASH?=SHA256
DEBUG?=0
DEBUG_UART?=1
VTOR?=1
NO_ASM?=0
NO_MPU=1
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=1
V?=0
SPMATH?=1
RAM_CODE?=1
WOLFBOOT_SECTOR_SIZE?=0x1000
WOLFBOOT_PARTITION_SIZE?=0x100000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x70020000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x00120000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x00010000
IMAGE_HEADER_SIZE?=1024
CFLAGS_EXTRA+=-DPART_BOOT_EXT
