TARGET=stm32l4
SIGN=ECC256
HASH=SHA256
DEBUG?=0
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE=1
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
IMAGE_HEADER_SIZE?=0x200
STM32CUBE?=$(HOME)/STM32Cube/Repository/STM32Cube_FW_L4_V1.18.1
WOLFBOOT_SECTOR_SIZE=0x1000
WOLFBOOT_PARTITION_SIZE=0x7A000
WOLFBOOT_PARTITION_BOOT_ADDRESS=0x0800A000
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x08084000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0x080FE000
WOLFTPM?=0
