ARCH?=ARM
TARGET?=stm32f1
SIGN?=ED25519
HASH?=SHA256
VTOR?=0
SPMATH?=1
DISABLE_BACKUP=0
NVM_FLASH_WRITEONCE=1
# 12 KB bootloader partition
# 2 * 25 KB application partitions
# 2 KB swap partition
# 64 KB total
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x08003000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x08009400
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x0800F800
WOLFBOOT_PARTITION_SIZE?=0x6400
WOLFBOOT_SECTOR_SIZE?=0x400
