ARCH?=ARM
TARGET?=stm32f1
SIGN?=ED25519
HASH?=SHA256
VTOR?=0
SPMATH?=1
DISABLE_BACKUP=0
# 13 KB bootloader partition
# 2 * 25 KB application partitions
# 1 KB swap partition
# 64 KB total
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x08003400
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x08009800
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x0800FC00
WOLFBOOT_PARTITION_SIZE?=0x6400
WOLFBOOT_SECTOR_SIZE?=0x600
