ARCH=PPC
TARGET=t2080
SIGN?=ED25519
HASH?=SHA256
DEBUG?=1
VTOR?=1
CORTEX_M0?=0
NO_ASM?=0
EXT_FLASH?=0
SPI_FLASH?=0
NO_XIP?=0
UART_FLASH?=0
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=0
WOLFBOOT_VERSION?=0
V?=1
NO_MPU?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
IMAGE_HEADER_SIZE?=256
PKA?=1
WOLFTPM?=0
WOLFBOOT_ORIGIN?=0xEFFF0000
WOLFBOOT_PARTITION_SIZE?=0x10000
WOLFBOOT_SECTOR_SIZE?=0x10000
ARCH_FLASH_OFFSET?=0xEFF00000
#WOLFBOOT_TEST_APP_ADDRESS
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0xEFF40000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0xEFF00000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0xEFF80000
WOLFBOOT_START?=0xEFFF0000
WOLFBOOT_LOAD_ADDRESS?=0x200000
WOLFBOOT_LOAD_DTS_ADDRESS?=0x40000
CFLAGS:=-DBIG_ENDIAN_ORDER
