ARCH?=ARM
TARGET?=ti_am64x
SIGN?=ECC256
HASH?=SHA256
CORTEX_R5?=1
USE_GCC?=0
TI_MCU_PLUS_SDK_VERSION_REQUIRED=11.02.00
DEBUG?=0
DEBUG_UART?=1
VTOR?=1
NO_ASM?=1
NO_ARM_ASM=1
NO_MPU=1
EXT_FLASH?=1
SPI_FLASH?=0
NO_XIP?=1
ALLOW_DOWNGRADE?=0
NVM_FLASH_WRITEONCE?=1
WOLFBOOT_VERSION?=0
V?=0
SPMATH?=1
RAM_CODE?=0
DUALBANK_SWAP?=0
FLASH_MULTI_SECTOR_ERASE?=1
ELF=1
ELF_FLASH_SCATTER=1

PKA?=0

WOLFBOOT_SECTOR_SIZE?=0x200

# Default configuration
WOLFBOOT_PARTITION_SIZE?=0x40000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x60080000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x600c0000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x600e0000

WOLFCRYPT_TEST?=1
WOLFCRYPT_BENCHMARK?=1
