ARCH?=ARM
CORTEX_M4?=1
TARGET?=va416x0
SIGN?=ECC384
HASH?=SHA384
IMAGE_HEADER_SIZE=512
WOLFBOOT_VERSION?=1
ARMORED?=1
DEBUG?=0
DEBUG_SYMBOLS?=1
DEBUG_UART?=1
VTOR?=1
EXT_FLASH?=1
SPI_FLASH?=0
NO_XIP?=1
NVM_FLASH_WRITEONCE?=0
UART_FLASH?=0
V?=0
NO_MPU?=1
RAM_CODE?=0
SPMATH?=1
DUALBANK_SWAP?=0
PKA?=0
ENCRYPT=0
WOLFTPM?=0

# Optionally allow downgrade to older valid version in update partition
ALLOW_DOWNGRADE?=0

# Use assembly version of ECDSA and SHA
NO_ASM?=0
NO_ARM_ASM?=0

# Optional: Use smaller SHA512
#CFLAGS_EXTRA+=-DUSE_SLOW_SHA512

# 1KB sector
WOLFBOOT_SECTOR_SIZE?=0x400

# 32KB boot, 112KB partitions, 1KB swap
WOLFBOOT_PARTITION_SIZE?=0x1C000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0x8000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x24000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x3FC00

# Alternate layout for DEBUG=1 wolfBoot
# 63KB boot, 96KB partitions, 1KB swap
#WOLFBOOT_PARTITION_SIZE?=0x18000
#WOLFBOOT_PARTITION_BOOT_ADDRESS?=0xFC00
#WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0x27C00
#WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x3FC00

# Vorago SDK common drivers directory
VORAGO_SDK_DIR?=$(PWD)/../VA416xx_SDK/

# Use Verago FRAM driver
USE_HAL_SPI_FRAM=1

#CFLAGS_EXTRA+=-DDEBUG_EXT_FLASH
