ARCH=x86_64
TARGET=x86_64_efi
EFI_CRT0?=/usr/lib/crt0-efi-x86_64.o
WOLFBOOT_SMALL_STACK=1
SIGN?=ECC256
HASH?=SHA256
IMAGE_HEADER_SIZE?=256
WOLFBOOT_PARTITION_SIZE?=0x2000000
WOLFBOOT_SECTOR_SIZE?=0x20000
WOLFBOOT_PARTITION_BOOT_ADDRESS?=0xDA00000
WOLFBOOT_PARTITION_UPDATE_ADDRESS?=0xDA00000
WOLFBOOT_PARTITION_SWAP_ADDRESS?=0x60000
LD=ld
WOLFBOOT_DTS_BOOT_ADDRESS?=0x30000
WOLFBOOT_DTS_UPDATE_ADDRESS=0x50000
WOLFBOOT_LOAD_ADDRESS?=0x1500000
WOLFBOOT_UPDATE_ADDRESS?=0x1500000
WOLFBOOT_LOAD_DTS_ADDRESS?=0x400000
DEBUG=1
SPMATH=0
