ARCH=x86_64
TARGET=x86_fsp
WOLFBOOT_SMALL_STACK=1
SIGN?=ED25519
HASH?=SHA256
DEBUG=1
SPMATH=0
ENCRYPTION=0
WOLFBOOT_FIXED_PARTITIONS=1
WOLFBOOT_PARTITION_SIZE=0x770000

# 4gb - 8mb
WOLFBOOT_PARTITION_BOOT_ADDRESS=0xff800000
WOLFBOOT_PARTITION_SWAP_ADDRESS=0x0
WOLFBOOT_PARTITION_UPDATE_ADDRESS=0x0
WOLFBOOT_LOAD_BASE=0x2000000
WOLFBOOT_LOAD_ADDRESS=0x1000000

# required for keytools
WOLFBOOT_SECTOR_SIZE?=0x1000
WOLFBOOT_DATA_ADDRESS=0x1000000

FSP_T_BASE=0xfffc5000
FSP_M_BASE=0xfffdd000
FSP_S_BASE=0xfffc8000
BOOTLOADER_START=0xfffff000
BOOTLOADER_PARTITION_SIZE=0x90000
MACHINE_OBJ=src/x86/fsp/machines/qemu/qemu_fsp.o
FSP_T_BIN=./src/x86/fsp/machines/qemu/fsp_t.bin
FSP_M_BIN=./src/x86/fsp/machines/qemu/fsp_m.bin
FSP_S_BIN=./src/x86/fsp/machines/qemu/fsp_s.bin