name: Test Example Configs

on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

jobs:

  # TODO: cypsoc6.config requires cy_device_headers.h
  # cypsoc6_test:
  #   uses: ./.github/workflows/test-build.yml
  #   with:
  #     arch: arm
  #     config-file: ./config/examples/cypsoc6.config

  # TODO: hifive.config requires RISC-V compiler
  # hifive1_test:
  #   uses: ./.github/workflows/test-build.yml
  #   with:
  #     arch: riscv
  #     config-file: ./config/examples/hifive.config
  #
  #
  sama5d3_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/sama5d3.config

  same51_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/same51.config

  same51_dbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/same51-dualbank.config

  imx_rt1040_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1040.config

  imx_rt1050_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1050.config

  imx_rt1060_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1060.config

  imx_rt1064_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1064.config

  imx_rt1040_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1040.config
      make-args: PKA=1 NO_ARM_ASM=1

  imx_rt1050_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1050.config
      make-args: PKA=1 NO_ARM_ASM=1

  imx_rt1060_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1060.config
      make-args: PKA=1 NO_ARM_ASM=1

  imx_rt1064_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1064.config
      make-args: PKA=1 NO_ARM_ASM=1

  kinetis_k64f_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/kinetis-k64f.config

  kinetis_k82f_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/kinetis-k82f.config

  library_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/library.config

  lpc54606j512_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/lpc54606j512.config

  nrf52840_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf52840.config

  nrf5340_app_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf5340.config

  nrf5340_net_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf5340_net.config

  nxp_p1021_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: ppc
      config-file: ./config/examples/nxp-p1021.config

  nxp_t1024_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: ppc
      config-file: ./config/examples/nxp-t1024.config

  nxp_t2080_68ppc2_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: ppc
      config-file: ./config/examples/nxp-t2080-68ppc2.config

  nxp_t2080_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: ppc
      config-file: ./config/examples/nxp-t2080.config

#  MCXA test disabled until MCXA is available in mcux
#  nxp_mcxa_test:
#    uses: ./.github/workflows/test-build-mcux-sdk.yml
#    with:
#      arch: arm
#      config-file: ./config/examples/mcxa.config

  raspi3_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: aarch64
      config-file: ./config/examples/raspi3.config
      make-args: wolfboot.bin CROSS_COMPILE=aarch64-linux-gnu-

  sim_tfm_smallstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: WOLFBOOT_SMALL_STACK=1

  sim_tfm_bigstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: WOLFBOOT_SMALL_STACK=0 WOLFBOOT_HUGE_STACK=1

  sim_spmathall_smallstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: SPMATHALL=1 WOLFBOOT_SMALL_STACK=1

  sim_spmathall_bigstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: SPMATHALL=1 WOLFBOOT_SMALL_STACK=0 WOLFBOOT_HUGE_STACK=1

  sim_spmath_bigstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: SPMATH=1 WOLFBOOT_SMALL_STACK=0 WOLFBOOT_HUGE_STACK=1

  sim_multi_sector_erase:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: CFLAGS_EXTRA=-DWOLFBOOT_FLASH_MULTI_SECTOR_ERASE


  # TODO: SP math with small stack has issues

  stm32c0:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32c0.config

  stm32c0-rsa248:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32c0-rsa2048.config

  stm32c0-lms-8-10-1:
    uses: ./.github/workflows/test-build-lms.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32c0-lms-8-10-1.config

  stm32f4_small_blocks_uart_update_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f4-small-blocks-uart-update.config

  stm32f4_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f4.config

  stm32f7_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f7-dualbank.config

  stm32f7_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f7.config

  stm32g0_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32g0.config

  stm32h5_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5.config

  stm32h5_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-dualbank.config

  stm32h5_tz_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz.config

  stm32h5_tz_dualbank_otp_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz-dualbank-otp.config

  stm32h5_tz_dualbank_otp_lms_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz-dualbank-otp-lms.config

  stm32h7_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h7.config

  stm32h7_qspi_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h7.config
      make-args: QSPI_FLASH=1

  stm32h7_octospi_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h7-octospi.config

  stm32l0_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l0.config

  # TODO: stm32l4-cube.config requires Cube HAL
  # stm32l4_cube_test:
  #   uses: ./.github/workflows/test-build.yml
  #   with:
  #     arch: arm
  #     config-file: ./config/examples/stm32l4-cube.config

  stm32l5_nonsecure_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l5-nonsecure-dualbank.config

  stm32l5_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l5.config

  stm32l5_wolfcrypt_tz:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l5-wolfcrypt-tz.config

  stm32u5_nonsecure_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32u5-nonsecure-dualbank.config

  stm32u5_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32u5.config

  stm32u5_wolfcrypt_tz:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32u5-wolfcrypt-tz.config

  stm32wb_delta_enc_ext_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-delta-enc-ext.config

  stm32wb_delta_ext_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-delta-ext.config

  stm32wb_delta_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-delta.config

  # TODO: stm32wb-pka-1mb.config requires STM32 HAL #include "stm32wbxx_hal.h
  # stm32wb_pka_1mb_test:
  #   uses: ./.github/workflows/test-build.yml
  #   with:
  #     arch: arm
  #     config-file: ./config/examples/stm32wb-pka-1mb.config

  stm32wb_tpm_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-tpm.config

  stm32wb_uart_flash_encryption_aes128_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-uart-flash-encryption-aes128.config

  stm32wb_uart_flash_encryption_aes256_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-uart-flash-encryption-aes256.config

  stm32wb_uart_flash_encryption_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-uart-flash-encryption.config

  stm32wb_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb.config

  # TODO: ti-tms570lc435.config requires CCS_ROOT

  x86_64_efi_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/x86_64_efi.config

  zynqmp_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: aarch64
      config-file: ./config/examples/zynqmp.config
      make-args: CROSS_COMPILE=aarch64-linux-gnu-
