name: Test Example Configs

on:
  push:
    branches: [ 'master', 'main', 'release/**' ]
  pull_request:
    branches: [ '*' ]

jobs:

  cypsoc6_test:
    uses: ./.github/workflows/test-build-psoc6.yml
    with:
      arch: arm
      config-file: ./config/examples/cypsoc6.config

  hifive1_test:
    uses: ./.github/workflows/test-build-riscv.yml
    with:
      arch: riscv
      config-file: ./config/examples/hifive1.config
      # Only building wolfBoot - not test app for now (cross compiler cannot find suitable multilib set for '-march=rv32imafdc_zicsr_zmmul_zaamo_zalrsc_zca_zcd_zcf'/'-mabi=ilp32d')
      # Consider building cached RISCV64 toolchain for this target
      make-args: wolfboot.bin

  sama5d3_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/sama5d3.config

  same51_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/same51.config

  same51_dbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/same51-dualbank.config

  imx_rt1040_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1040.config
      board-name: evkbmimxrt1060

  imx_rt1050_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1050.config
      board-name: evkbmimxrt1060

  imx_rt1060_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1060.config
      board-name: evkbmimxrt1060

  imx_rt1064_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1064.config
      board-name: evkmimxrt1064

  imx_rt1040_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1040.config
      board-name: evkbmimxrt1060
      make-args: PKA=1 NO_ARM_ASM=1

  imx_rt1050_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1050.config
      board-name: evkbmimxrt1060
      make-args: PKA=1 NO_ARM_ASM=1

  imx_rt1060_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1060.config
      board-name: evkbmimxrt1060
      make-args: PKA=1 NO_ARM_ASM=1

  imx_rt1064_test_pka:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1064.config
      board-name: evkmimxrt1064
      make-args: PKA=1 NO_ARM_ASM=1

  imx_rt1060_hab_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/imx-rt1060_hab.config
      board-name: evkbmimxrt1060

  kinetis_k64f_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/kinetis-k64f.config

  kinetis_k82f_test:
    uses: ./.github/workflows/test-build-mcux-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/kinetis-k82f.config

  library_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/library.config
      make-args: test-lib

  libwolfboot_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/library.config

  lpc54606j512_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/lpc54606j512.config
      board-name: lpcxpresso55s06

  nrf52840_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf52840.config

  nrf5340_app_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf5340.config

  nrf5340_app_tz_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf5340-tz.config

  nrf5340_app_wolfcrypt_tz_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf5340-wolfcrypt-tz.config

  nrf5340_net_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nrf5340_net.config

  nxp_p1021_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: ppc
      config-file: ./config/examples/nxp-p1021.config

  nxp_t1024_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: ppc
      config-file: ./config/examples/nxp-t1024.config

  nxp_t2080_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: ppc
      config-file: ./config/examples/nxp-t2080.config

  nxp_ls1028a_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: aarch64
      config-file: ./config/examples/nxp-ls1028a.config
      make-args: CROSS_COMPILE=aarch64-linux-gnu-

  nxp_ls1028a_tpm_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: aarch64
      config-file: ./config/examples/nxp-ls1028a-tpm.config
      make-args: CROSS_COMPILE=aarch64-linux-gnu-

  nxp_mcxa_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/mcxa.config
      board-name: frdmmcxa153

  nxp_mcxw_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/mcxw.config
      board-name: frdmmcxw71

  nxp_mcxw_tz_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/mcxw-tz.config
      board-name: frdmmcxw71

  nxp_mcxn_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/mcxn.config
      board-name: frdmmcxn947

  nxp_mcxn_tz_test:
    uses: ./.github/workflows/test-build-mcux-sdk-manifests.yml
    with:
      arch: arm
      config-file: ./config/examples/mcxn-tz.config
      board-name: frdmmcxn947

  nxp_s32k142_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nxp-s32k142.config

  nxp_s32k144_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nxp-s32k144.config

  nxp_s32k146_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nxp-s32k146.config

  nxp_s32k148_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/nxp-s32k148.config

  microchip_mpfs250_test:
    uses: ./.github/workflows/test-build-riscv.yml
    with:
      arch: riscv64
      config-file: ./config/examples/polarfire_mpfs250.config
      # Only building wolfBoot - not test app for now (cross compiler cannot find suitable multilib set for '-march=rv64imafd_zicsr_zmmul_zaamo_zalrsc'/'-mabi=lp64d')
      # Consider building cached RISCV64 toolchain for this target
      make-args: wolfboot.bin

  raspi3_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: aarch64
      config-file: ./config/examples/raspi3.config
      make-args: wolfboot.bin CROSS_COMPILE=aarch64-linux-gnu-

  raspi3_encrypted_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: aarch64
      config-file: ./config/examples/raspi3-encrypted.config
      make-args: wolfboot.bin CROSS_COMPILE=aarch64-linux-gnu-

  sim_tfm_smallstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: WOLFBOOT_SMALL_STACK=1

  sim_tfm_bigstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: WOLFBOOT_SMALL_STACK=0 WOLFBOOT_HUGE_STACK=1

  sim_spmathall_smallstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: SPMATHALL=1 WOLFBOOT_SMALL_STACK=1

  sim_spmathall_bigstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: SPMATHALL=1 WOLFBOOT_SMALL_STACK=0 WOLFBOOT_HUGE_STACK=1

  sim_spmath_bigstack_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: SPMATH=1 WOLFBOOT_SMALL_STACK=0 WOLFBOOT_HUGE_STACK=1

  sim_multi_sector_erase:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim.config
      make-args: CFLAGS_EXTRA=-DWOLFBOOT_FLASH_MULTI_SECTOR_ERASE

  sim_elf_scattered:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-elf-scattered.config

  sim_elf_scattered_nobackup:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-elf-scattered.config
      make-args: DISABLE_BACKUP=1

  # TODO: SP math with small stack has issues

  stm32c0:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32c0.config

  stm32c0-rsa248:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32c0-rsa2048.config

  stm32c0-lms-8-10-1:
    uses: ./.github/workflows/test-build-lms.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32c0-lms-8-10-1.config

  stm32f1_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f1.config

  stm32f4_small_blocks_uart_update_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f4-small-blocks-uart-update.config

  stm32f407_discovery_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f407-discovery.config

  stm32f411_blackpill_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f411-blackpill.config

  stm32f7_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f7-dualbank.config

  stm32f7_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32f7.config

  stm32g0_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32g0.config

  stm32h5_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5.config

  stm32h5_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-dualbank.config

  stm32h5_tz_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz.config

  stm32h5_tz_tpm_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz-tpm.config

  stm32h5_tz_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz-dualbank.config

  stm32h5_tz_dualbank_otp_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz-dualbank-otp.config

  stm32h5_tz_dualbank_otp_lms_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h5-tz-dualbank-otp-lms.config

  stm32h7_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h7.config

  stm32h7_qspi_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h7.config
      make-args: QSPI_FLASH=1

  stm32h7_octospi_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32h7-octospi.config

  stm32l0_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l0.config

  stm32l4_cube_test:
    uses: ./.github/workflows/test-build-stm32cube.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l4-cube.config
      cube-repo: STMicroelectronics/STM32CubeL4

  stm32l5_nonsecure_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l5-nonsecure-dualbank.config

  stm32l5_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l5.config

  stm32l5_wolfcrypt_tz:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32l5-wolfcrypt-tz.config

  stm32u5_nonsecure_dualbank_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32u5-nonsecure-dualbank.config

  stm32u5_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32u5.config

  stm32u5_wolfcrypt_tz:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32u5-wolfcrypt-tz.config

  stm32wb_delta_enc_ext_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-delta-enc-ext.config

  stm32wb_delta_ext_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-delta-ext.config

  stm32wb_delta_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-delta.config

  stm32wb_pka_1mb_test:
    uses: ./.github/workflows/test-build-stm32cube.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-pka-1mb.config
      cube-repo: STMicroelectronics/STM32CubeWB
      make-args: PKA=1 NO_ARM_ASM=1

  stm32wb_tpm_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-tpm.config

  stm32wb_uart_flash_encryption_aes128_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-uart-flash-encryption-aes128.config

  stm32wb_uart_flash_encryption_aes256_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-uart-flash-encryption-aes256.config

  stm32wb_uart_flash_encryption_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb-uart-flash-encryption.config

  stm32wb_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: arm
      config-file: ./config/examples/stm32wb.config

  # TODO: ti-tms570lc435.config requires F021 Flash API (Windows installer only)
  # ti_tms570lc435_test:
  #   uses: ./.github/workflows/test-build-ti-hercules.yml
  #   with:
  #     arch: arm
  #     config-file: ./config/examples/ti-tms570lc435.config

  # Cannot run on CI without the SDK (see VORAGO_SDK_DIR)
  # vorago_va416x0_test:
  #   uses: ./.github/workflows/test-build.yml
  #   with:
  #     arch: arm
  #     config-file: ./config/examples/vorago_va416x0.config

  x86_64_efi_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/x86_64_efi.config

  zynqmp_test:
    uses: ./.github/workflows/test-build-aarch64.yml
    with:
      arch: aarch64
      config-file: ./config/examples/zynqmp.config

  versal_vmk180_test:
    uses: ./.github/workflows/test-build-aarch64.yml
    with:
      arch: aarch64
      config-file: ./config/examples/versal_vmk180.config

  sim_wolfhsm_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-wolfHSM-client-ecc.config

  sim_wolfhsm_client_mldsa_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-wolfHSM-client-mldsa.config

  sim_wolfhsm_client_certchain_ecc_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-wolfHSM-client-certchain-ecc.config

  sim_wolfhsm_client_certchain_rsa4096_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-wolfHSM-client-certchain-rsa4096.config

  sim_wolfhsm_server_certchain_ecc_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-wolfHSM-server-certchain-ecc.config

  sim_wolfhsm_server_certchain_rsa4096_test:
    uses: ./.github/workflows/test-build.yml
    with:
      arch: host
      config-file: ./config/examples/sim-wolfHSM-server-certchain-rsa4096.config

  rp2350_test:
    uses: ./.github/workflows/test-build-pico-sdk.yml
    with:
      arch: arm
      config-file: ./config/examples/rp2350.config
      target: rp2350
